/node_modules
/public/hot
/public/storage
public/js
public/css
/storage/*.key
/vendor
/pgdata
/.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/mix-manifest.json
.phpstorm.meta.php
_ide_helper.php
/storage/debugbar/
